canvas {
	width: 600px;
	height: 400px;
	font-size: 30px;
	border: 1px solid #c3c3c3;
}

h1 {
		color: #9932CC;
		text-transform: uppercase;
		text-align: center;
		font-size: 50px;
	}
	
h3 {
		color: #800080;
		text-align: left;
		font-size: 25px;
   }
   
